#container {
    width:600px;
    height:600px;
}

.row {
    display: block;
    width:100%;
    margin-bottom:3px;
}

.cell {
    background-color:#777;
    display:inline-block;
    height:9%;
    width:8%;
    text-align:center;
    color:#fff;
    font-family:sans-serif;
}