body {
    background-color:#111;
}

#container {
    width:600px;
    height:600px;
}

.row {
    display: block;
    width:100%;
    margin-bottom:3px;
}

.cell {
    background-color:#333;
    display:inline-block;
    height:9%;
    width:8%;
    text-align:center;
    color:#666;
    font-family:sans-serif;
}

.active {
    color:#5fe8f1;
}